{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InstaLoaderWeb</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'downloader/styles.css' %}" />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://cdn-icons-png.flaticon.com/512/4208/4208397.png"
    />
  </head>
  <body>
    <header>
      <div class="header-content">
        <img
          src="https://cdn-icons-png.flaticon.com/512/717/717392.png"
          class="logo"
        />
        <span><a href="/instaloaderweb">Insta-Downloader</a></span>
      </div>
    </header>
    <section class="user-input">
      <div class="menu">
        <label for="postURL">Select an option</label>
        <div>
          <a href="/posts">
            <img src={% static 'downloader/post.png' %} height="80px"/>
            <h2>Posts</h2>
            <p>Download Photos/Videos from a post link.</p>
          </a>
          <a href="/reels">
            <img src={% static 'downloader/reel.png' %} height="80px"/>

            <h2>Reels</h2>
            <p>Download a Reel from it's link.</p>
          </a>

          <a href="/allposts">
            <img src={% static 'downloader/grid.png' %} height="80px"/>

            <h2>All Media</h2>
            <p>Download all Posts and Current Stories of an Instagram Account.</p>
          </a>
          
          <a href="/allreels">
            <img src={% static 'downloader/grid-reels.png' %} height="80px"/>
            
            <h2>All Reels</h2>
            <p>Download all Reels of an Instagram Account.</p>
          </a>
        </div>
        <div>
          <form action="{% url 'login' %}" method="POST">
            
            {% if request.session.username == None %}
              <label for="postURL">Enter Login Username and Password</label>
              <input type="text" name="username" id="username" placeholder="Username" />
              <input type="password" name="password" id="password" placeholder="Password" />
              <button type="submit" id="login">Login</button>
              <span class="loader" style="display: none"></span>
            {% else %}
              <button type="submit" id="logout">Logout</button>
            {% endif %}
            <h3>{{error}}</h3>
            <h3 style="text-align: center">{{message}}</h3>
          </form>
        </div>
        <div>
          <form action="{% url 'clearsession' %}" method="POST">
            <button type="submit" id="clearsession">Clear Session</button>
          </form>
        </div>
      </div>
    </section>

    <footer>
      Based from InstaLoaderWeb &copy;
      <span><a href="https://github.com/AzeemIdrisi">AzeemIdrisi</a></span>
      {{ year }}
    </footer>
    <script>
      document
        .getElementById("login")
        .addEventListener("click", function () {
          document.querySelector(".loader").style.display = "block";
        });
    </script>
  </body>
</html>
